@charset "utf-8";
/* 모바일에서는 안쓴다. 웹에서는 바로 사용 가능하다.*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Reset */
/* 웹에서는 사용하면 안된다. 터치를 하게되면 외곽라인이 생겨난다. */
/* 모바일 접속 보조도구(보이스오버, 토크백)가 활성화가 되면 자동으로 outline이 생겨나기 때문에 일반적인 경우는 삭제. */
/* 클라이언트분들이 이상하게 생각한다. */
* {outline: 0 !important;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html,body{width:100%;}
/* -webkit : 크롬, ios기반의 브라우저 */
/* 사용자가 브라우저를 꾸욱누르는것을 막음 , 클릭드래그 금지 , 링크를 클릭할 때마다 배경이 파랑색으로 생기는 것을 투명으로. */
html{-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
/* 가로사이즈가 ios(iphone3 , gallaxy1은 가로가 320) | -webkit-text-size-adjust: 아이폰 가로/세로변경시 글씨 사이즈 제어*/
body{width:100%; background:#fff; min-width:320px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
/* 웹용 */
body,input,select,textarea,button {border:none;font-size:12px;font-family: 'Noto Sans KR', sans-serif; color: #727272;}
/* 모바일 : 아이폰은 애플고딕, 안드로이드는 따로 폰트로 된다. */
body,input,select,textarea,button {border:none;font-size:12px; color: #727272;} 
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align: middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
/* html5에서는 inline요소다 이것을 block으로 바꿔줌 */
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000; text-decoration:none;}
/* Form */
textarea {border:1px solid #dbdbdb;}
select { height:32px; font-size: 13px; color:#373737; border:1px solid #e9e9e9; background:#fff; border-radius:5px; }
input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea {width:100%; height:30px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff; text-indent:20px; border-radius:5px;transition:all 0.5s; vertical-align:middle;}
/* placeholder는 직접 선택할 수 없어서 세팅해줌 */
input::-webkit-input-placeholder{color:#b5b5b5; font-size:12px; line-height:100%;}
textarea{padding:5px 0;}
select:focus,
textarea:focus,
input:focus { border: 1px solid #727272; }
/* search 경우 클릭할때 둥글게 나오는 경우 있음 사각형으로 만듬input[type=password][disabled], */
input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=search][readonly],
input[type=email][readonly],
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled] { background:#eaeaea; border-color:#c0c0c0; color:#666; -webkit-appearance:none; font-size:12px;}
textarea[readonly],
textarea[disabled]{padding:11px; font-size:16px; color:#666; font-weight:normal; line-height:140%; height:78px; background:#eaeaea; border:1px solid #c0c0c0;}
.clear{clear:both;}
.clear:after {content:""; display:block; clear:both;}
.skip{
	position: absolute;
	left: 0;
	top: -100px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s;
}
.skip:focus{
	top: 0;
}
.hide{
	position: absolute;
    left: -5000px;
}